# VS Code
.vscode/
# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
env/
ENV/
.venv/

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Streamlit
# ------------------------------
.streamlit/

# ------------------------------
# Model Files (Optional)
# ------------------------------
*.h5
*.joblib
*.pkl

# ------------------------------
# Dataset (Optional)
# ------------------------------
dataset.csv

# ------------------------------
# System Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log
